@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.nav-bar-txt-1{
    font-family: RfDewi-Expanded;
    font-weight: bold;
    font-size: 15px;
}

.nav-bar-txt-2{
    font-family: RfDewi-Expanded;
    font-weight: 300;
    font-size: 12px;
    align-self: flex-end;
    transform: translateY(-1px);
}